<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArbkce5faFPOeGXUiGVy4_Zy4UoPadC4M</string>
	<key>GCM_SENDER_ID</key>
	<string>836886742450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.minesort.minesort</string>
	<key>PROJECT_ID</key>
	<string>minesort</string>
	<key>STORAGE_BUCKET</key>
	<string>minesort.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836886742450:ios:21f24f2b359bd0742bd0ab</string>
</dict>
</plist>